<div class="link center">
  <%= form_with(model: task, local: true, url:confirm_new_or_edit) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('errors.messages.count_of_errors') %></h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class = "center">
      <br>
      <tr>
        <th class="title"><%= form.label :title %></th>
        <td class="title"><%= form.text_field :title %></td>
      </tr>
      <tr>
        <th class="content"><%= form.label :content %></th>
        <td class="content"><%= form.text_field :content %></td>
      </tr>
      <tr>
        <th class="task_time_limit"><%= form.label :time_limit %></th>
        <td class="task_time_limit"><%= form.datetime_select :time_limit %></td>
      </tr>
      <tr>
        <th class="status"><%= form.label :status %></th>
        <td class="status"><%= form.select :status,["未着手","着手中","完了"] %></td>
      </tr>
      <tr>
        <th class="priority"><%= form.label :priority %></th>
        <td class="priority"><%= form.select :priority,["高","中","低"] %></td>
      </tr>
    </table>
    <div class="field">

    </div>
    <div class="actions">
      <%= form.submit t('helpers.submit.submit') %>
    </div>
  <% end %>
</div>
