<div class="link">
  <%= form_with(model: task, local: true, url:confirm_new_or_edit) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('errors.messages.count_of_errors') %></h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
      <br>
      <tr>
        <th class="title"><%= form.label :title %></th>
        <td class="title"><%= form.text_field :title %></td>
      </tr>
      <tr>
        <th class="content"><%= form.label :content %></th>
        <td class="content"><%= form.text_field :content %></td>
      </tr>
      <tr>
        <th class="content"><%= form.label :time_limit %></th>
        <td class="content"><%= form.datetime_select :time_limit %></td>
      </tr>
    </table>
    <div class="field">

    </div>
    <div class="actions">
      <%= form.submit "投稿する" %>
    </div>
  <% end %>
</div>
