<div class="link">
  <%= form_with(model: task, local: true, url:tasks_path) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
      <br>
      <tr>
        <th class="title"><%= form.label :"タイトル" %></th>
        <td class="title"><%= form.text_field :title %></td>
      </tr>
      <tr>
        <th class="content"><%= form.label :"内容" %></th>
        <td class="content"><%= form.text_field :content %></td>
      </tr>
    </table>
    <div class="field">
  
    </div>
    <div class="actions">
      <%= form.submit "投稿する" %>
    </div>
  <% end %>
</div>
