<h1 class = "center"><%= t('view_title.models.task.confirm') %></h1>
<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <p class = "center"><%= t('activerecord.attributes.task.title') %>：<%= @task.title %></p>
  <%= form.hidden_field :content %>
  <p class = "center"><%= t('activerecord.attributes.task.content') %>：<%= @task.content %></p>
  <%= form.hidden_field :time_limit %>
  <p class = "center"><%= t('activerecord.attributes.task.time_limit') %>：<%= @task.time_limit %></p>
  <%= form.hidden_field :status %>
  <p class = "center"><%= t('activerecord.attributes.task.status') %>：<%= @task.status %></p>
  <%= form.hidden_field :priority %>
  <p class = "center"><%= t('activerecord.attributes.task.priority') %>：<%= @task.priority %></p>
  <%= form.hidden_field :label %>
  <p class = "center"><%= t('activerecord.attributes.label.name') %>:
    <% @task.label_ids.each do |label| %>
    <%= label.id%>
    <% end %>
  </p>
  <div class="center">
    <%= form.submit t('helpers.submit.submit') %>
    <%= form.submit t('helpers.select.back'), name: "back" %>
  </div>
<% end %>
