<h1><%= t('view_title.models.task.confirm') %></h1>
<%= form_with(model: @task, url: confirm_new_or_edit, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <p><%= t('activerecord.attributes.task.title') %>：<%= @task.title %></p>
  <%= form.hidden_field :content %>
  <p><%= t('activerecord.attributes.task.content') %>：<%= @task.content %></p>
  <%= form.hidden_field :time_limit %>
  <p><%= t('activerecord.attributes.task.time_limit') %>：<%= @task.time_limit %></p>
  <%= form.submit t('helpers.submit.submit') %>
  <%= form.submit t('helpers.select.back'), name: "back" %>
<% end %>
