<h1><%= t('view_title.models.task.index') %></h1>
<p id="notice"><%= notice %></p>
<%= form_with(scope: :serch, url: tasks_path, method: :get, local: true) do |f| %>
<%= f.label :title, t('serch.serch_title') %>
<%= f.text_field :title, placeholder: t('serch.enter_title') %>
<%= f.submit t('serch.do_a_serch') %>
<%= link_to t('serch.sort_by_timelimit'), tasks_path(sort_expired: "true") %>
<% end %>
<table class = "task_row">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.task.id') %></th>
      <th><%= t('activerecord.attributes.task.title') %></th>
      <th><%= t('activerecord.attributes.task.content') %></th>
      <th><%= t('activerecord.attributes.task.time_limit') %></th>
      <th><%= t('activerecord.attributes.task.status') %></th>
      <th><%= t('activerecord.attributes.task.created_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %>*</td>
      <td><%= task.title %>*</td>
      <td><%= task.content %>*</td>
      <td class = "task_row_timelimit"><%= l task.time_limit, format: :short %>*</td>
      <td><%= task.status %>*</td>
      <td><%= l task.created_at, format: :default %></td>
      <td><%= link_to t('helpers.select.show'), task_path(task.id) %></td>
      <td><%= link_to t('helpers.select.edit'), edit_task_path(task), date: {confirm: t('edit?')} %></td>
      <td><%= link_to t('helpers.select.destroy'), task, method: :delete, data: {confirm: t('delete?')} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <div class="link">
    <%= link_to t('view.models.task.new'), new_task_path %>
  </div>
