<h1><%= t('view_title.models.task.show') %></h1>

<p><%= t('activerecord.attributes.task.title') %>：<%= @task.title %></p>
<p><%= t('activerecord.attributes.task.content') %>：<%= @task.content %></p>
<p><%= t('activerecord.attributes.task.created_at') %>；<%= @task.created_at %></p>
<p><%= t('activerecord.attributes.task.time_limit') %>：<%= @task.time_limit %></p>
<p><%= t('activerecord.attributes.task.priority') %>：<%= @task.priority %></p>
<p><%= t('activerecord.attributes.task.status') %>：<%= @task.status %></p>
<%= link_to t('helpers.select.back'), tasks_path %>
