<h1 class = "center">ユーザー編集 </h1>

<%= form_with(model: @user, local: true, method: "get") do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.hidden_field :password %>
  <%= f.hidden_field :password_confirmation %>

  <%= f.label :admin %>
  <%= f.check_box :admin, {}, 'true', 'false' %>

  <%= f.submit "edit account" %>
<% end %>


<div class="center">
  <%= link_to t('helpers.select.show'), admin_user_path %>
  <%= link_to t('helpers.select.back'), admin_users_path %>
</div>
