<h1 class = "center"><%= t('view_title.models.admin_user.edit') %></h1>
<%= form_with(model: @user,url: admin_user_path, local: true) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :admin %>
  <%= f.check_box :admin, {}, 'true', 'false' %>

  <%= f.submit t('helpers.submit.edit_account') %>
<% end %>

<div class="center">
  <%= link_to t('helpers.select.show'), admin_user_path %>
  <%= link_to t('helpers.select.back'), admin_users_path %>
</div>
