<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <% if logged_in? %>
          <% if current_user.admin?%>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          <% end %>
        <% end %>
      </button>
      <a class="navbar-brand" href="/">Tasks Mnanager
      </a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"><%= t('view_title.models.task.index') %></a></li>
        <li><a href="/tasks/new"><%= t('view_title.models.task.new') %></a></li>
        <% if logged_in? %>
          <% if current_user.admin?%>
            <li><a href="/admin/users"><%= t('view_title.models.admin_user.index') %></a></li>
            <li><a href="/labels"><%= t('view_title.models.label.index') %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<% flash.each do |key, value| %>
     <%= content_tag(:div, value, class: "#{key}") %>
   <% end %>
   <% if logged_in? %>
     <%= link_to "Profile", user_path(current_user.id) %>
     <%= link_to "Logout", session_path(current_user.id), method: :delete %>
       <% if current_user.admin?%>
       <p><%= t('view_title.models.admin_user.login') %></p>

       <% end %>
   <% else %>
     <%= link_to "Sign up", new_user_path %>
     <%= link_to "Login", new_session_path %>
   <% end %>
    <%= yield %>
  </body>
</html>
